.category {
    @extend %clearfix;
    text-align: left;
    margin: 1em auto;
    ul {
        @include li-reset;
        li {
            margin: 0px 3px 3px 0px;
            display: block;
            float: left;
            min-width: 5em;
            @include screen('xs_mobile') {
                margin:0px 1% .5em;
                min-width:31%;
            }
        }
    }
    a {
        // @include gradient(#FFF, #DDD, vertical);
        // border: 1px solid #CCC;
        background: #F5F5F5;
        padding: .2em 1em;
        display: block;
        text-align: center;
        color: #333;
        @include box-sizing();
        border-radius: 4px;
        font-size: .938rem;
        @include screen('xs_mobile') {
            background:#FFF;
        }
        &:hover,
        &:focus {
            color: #FFF;
            // @include gradient(darken($primaryColor, 0), darken($primaryColor, 15), vertical);
            // border: 1px solid darken($primaryColor, 15);
            box-shadow: none;
            background: $color-orange;
        }
        &.active {
            color: #FFF;
            // @include gradient(darken($primaryColor, 0), darken($primaryColor, 15), vertical);
            background: $color-orange;
        }
        span {
            font-size: .813em;
            &:before {
                content: "(";
                display: inline-block;
            }
            &:after {
                content: ")";
                display: inline-block;
            }
        }
    }
}
